{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" content="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" content="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}
{#
{% import 'translations.html' as translations with context %}
{{ translations.translations_for(article) }}
#}
{% block content %}
  <div class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
      <div class="mdl-card__title mdl-card--border">
        <h2 class="mdl-card__title-text">{{ article.title }}</h2>
       </div>
      <div class="mdl-card__media"></div>
      <div class="mdl-card__supporting-text mdl-card--expand article-content">
        {{ article.content }}
      </div>
      <div class="mdl-card__supporting-text mdl-card--expand">
        Comments
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a href="{{ SITEURL }}/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Галоўная</a>
        <a href="{{ SITEURL }}/{{ article.category.url }}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Яшчэ па тэме "{{ article.category }}"</a>
      </div>
    </div>
  </div>
{% endblock %}
